<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 align-items-right margin-left-appt">
  <h4 class="rach">Medications:</h4>

    <div class="card">
      <div class="container adminappointment">
       <p>Pharma Name:{{data.pharma_name}}</p>
       <p>Brand Name:{{data.brand_name}}</p>
<p>Class:{{data.class}}</p>
<p>Side Effects:{{data.side_effects}}</p>
      </div>

    </div>
        <div class="card">
      <div class="container adminappointment">
       <p>Pharma Name:{{data1.pharma_name}}</p>
       <p>Brand Name:{{data1.brand_name}}</p>
<p>Class:{{data1.class}}</p>
<p>Side Effects:{{data1.side_effects}}</p>
      </div>

    </div>
        <div class="card">
      <div class="container adminappointment">
       <p>Pharma Name:{{data2.pharma_name}}</p>
       <p>Brand Name:{{data2.brand_name}}</p>
<p>Class:{{data2.class}}</p>
<p>Side Effects:{{data2.side_effects}}</p>
      </div>

    </div>
        <div class="card">
      <div class="container adminappointment">
       <p>Pharma Name:{{data3.pharma_name}}</p>
       <p>Brand Name:{{data3.brand_name}}</p>
<p>Class:{{data3.class}}</p>
<p>Side Effects:{{data3.side_effects}}</p>
      </div>

    </div>

</div>